header {
  font-size: 60px;
  text-align: center;
  margin: 20px;
  background-color: white;
}

body {
  background-image: url(/fundo\ teste.png);
}

.game {
  background-color: white;
  width: 45%;
  height: 700px;
  margin: 0 auto;
  padding-top: 20px;
  border: solid rgb(200, 76, 76);
}

.matriz {
  background-color: rgb(236, 162, 162);
  width: 400px;
  margin: auto;
  margin-top: 35px;
  border: 1px solid black;
}

.line {
  max-height: 56px;
}

.cell {
  border: solid rgb(0, 0, 0) 1px;
  height: 40px;
  width: 40px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  padding: 7px 0px;
}

.selected {
  background-color: palevioletred;
}

.found {
  background-color: rgb(162, 129, 140);
}

.liFound {
  text-decoration: line-through;
  color: palevioletred;
}

.btn-clear {
  display: inline-block;
  background-color: palevioletred;
  padding: 10px 20px;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 20px;
  cursor: pointer;
}

.btn-restart {
  display: inline-block;
  background-color: palevioletred;
  padding: 10px 20px;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 20px;
  cursor: pointer;
}

#centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}